body {
    background-color: #EFEBEE;
}

a {
    color: #689B2A;
}
.jumbotron, .footer {
    background-color: #C70039;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  display: grid;
  place-items: center;
  padding: 25px;
}

.team-area {
    font-family: 'Open Sans', sans-serif;
}

.fade-in {
    animation: fadeIn ease 4s;
-webkit-animation: fadeIn ease 4s;
-moz-animation: fadeIn ease 4s;
-o-animation: fadeIn ease 4s;
-ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.employee-card {
    margin: 20px;
    box-shadow: 0 10px 20px #777;
    background-color: #FFFDFD;
    color: #32293d
}


.card-header {
    background-color: #32293d;
    color: #EFEBEE;
}

.list-group {
    background-color: #EFEBEE;
}